@import "/styles/generic/mixins";
@import "/styles/generic/variables";
@import "./styles/generic/fonts";

.breadcrumbs {
	display: none;
	list-style: none;
	margin: 8px 0;

	@include breakpoint-up(mobile) {
		@include flex-parent(row, nowrap, flex-start, center);
	}

	li {
		margin-right: 20px;
		margin-bottom: 0;
		font-size: 16px;
	}

	.breadcrumb {
		a {
			text-decoration: none;
			color: $primary-brand-1;
			position: relative;
			&::after {
				content: ">";
				position: absolute;
				right: -14px;
				color: $black;
			}
		}
	}
}
