@import "/styles/generic/mixins";
@import "/styles/generic/variables";
@import "./styles/generic/fonts";

.button {
	margin: 8px 6px 0 0;
	white-space: nowrap;
	cursor: pointer;
	border: 1px solid $primary-brand-1;
	border-radius: 20px;
	color: $black;
	font-size: 14px;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	padding: 0 15px;
	height: 28px;
	line-height: 26px;
	&:hover {
		background: $primary-brand-1;
		color: $white;
	}

	a {
		text-decoration: none;
	}
}
